.container button::after{
    content: 'Pasa por encima';
}
.container button:hover{
    color: white;
    background-color: green;
}
.container button:hover::after{
    content: '¡Hecho!';
}